h1{
    height: 200px;
   
}

img.photo{
   width: 45vw; 
   height: 45vw;
}

table {

    width :100%;
    
}

table, tr, th, td{
    border : 1px solid grey;
    border-collapse: collapse;
}

th, td{
    padding: 1rem;
    text-align: left;
}