*{
    background-color: lightgray;
}
h1{
    size: 100rem;
    color: black;
    text-align: center; 
}

p{
    font-family: "Garamond", serif; 
}

/* #boxtest{
    box model information 
    -the content
    -the padding around the content
    -a margin around the border

    width: 500px;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
} */


nav{
    text-align: center;
}

button{
color: blue;

}
button:hover{
    font-size: 25px;
    color: red;
    cursor: pointer;
}


img.photo{
   width: 45vw; 
   height: 45vw;
}

table {
    width :100%;  
}

table, tr, th, td{
    border : 1px solid grey;
    border-collapse: collapse;
}

th, td{
    padding: 1rem;
    text-align: left;
}

.photo:hover{
    border-radius: 50%;
}