h1{
    size: 300px;
    color: black;
    text-align: center;
   
}

p{
    font: Garamond (serif);
}

nav{
    text-align: center;
}

button{
color: blue;

}
button:hover{
    size: 500px;
    color: red;
    cursor: pointer;
}


img.photo{
   width: 45vw; 
   height: 45vw;
}

table {

    width :100%;
    
}

table, tr, th, td{
    border : 1px solid grey;
    border-collapse: collapse;
}

th, td{
    padding: 1rem;
    text-align: left;
}

.photo:hover{
    border-radius: 50%;
}